body {
  width: 90%;
  margin: auto;
  background-color: #fff;
  color: #000;
  font-family: serif;
  font-size: 14pt;
}

a {
  color: #00f;
}

a:visited {
  color: #00f;
}

a:hover {
  color: #08f;
}

header {
  hgroup {
    h1 {
      font-style: italic;
    }
  }

  ul.years-list {
    list-style: none;
    margin: 0em;
    padding: 0em;
    display: inline;

    li {
      display: inline;
      margin: 0em 0.5em 0em 0em;
    }
  }
}

table {
  tr:hover {
    background-color: #eee;
  }

  td {
    padding: 0em 0em 1em 0.5em;
  }
}

.vote-descr {
  font-weight: bold;
  font-style: italic;
}

#compare-table {
  td.compare-same {
    color: #888;
  }

  td.compare-different {
    font-weight: bold;
  }

  tr.compare-different-row {
    background-color: #ff9;
  }
}
