<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Howvoted.</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <script type="application/javascript" href="/js/jquery-3.4.1.min.js">
  </script>
</head>
<body>

<header>
  <hgroup>
    <h1>Howvoted.</h1>
  </hgroup>
  <nav>
    <ul>
      <li><a href="/">All Legislators</a></li>
      <li><a href="/compare">Compare</a></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
