<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Howvoted.</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<header>
  <hgroup>
    <h1>Howvoted.</h1>
  </hgroup>

  <a href="/">All Legislators</a>

  <br/>
</header>

<%= yield %>

</body>
</html>
